<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	
	    <div class="addheader">
		<h1><a href="/recipes">レシピ投稿サイト</a></h1>
		</div>
		<hr>
		
		<main>
			<br><h3>新規会員登録</h3>
			
			<form action="/users/add" method="post">
				
				<a th:if="${errorList}" class="error"> 
					<a th:each="error:${errorList}" th:text="${error}"></a>
				</a>
				<br><input type="text" name="name" placeholder="名前">
				<br><input type="text" name="email" placeholder="メールアドレス">
				<br><input type="text" name="password" placeholder="パスワード">	
				<br> <span th:text="${message}" style="color: red"></span>
				
			<br>
			<button>登録</button>
			
			<br><a href="/login">キャンセル</a>
			
		    </form>
			
			
		</main>

</body>
</html>