<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規会員登録</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	
	<header th:replace="~{header}"></header>
			<hr>
		
		<main>
			<br><h3>新規会員登録</h3>
			
			<form action="/users/add" method="post">
				
				<a th:if="${errorList}" class="error"> 
					<a th:each="error:${errorList}" th:text="${error}"></a>
				</a>
				<br><label>
					<span class="textbox-6-label"></span>
					<input type="text" name="name" class="textbox-6" placeholder="名前">
					</label>
				<br><label>
					<span class="textbox-7-label"></span>
					<input type="text" name="email" class="textbox-7" placeholder="メールアドレス">
					</label>
				<br><label>
					<span class="textbox-8-label"></span>
					<input type="text" name="password" class="textbox-8" placeholder="パスワード">	
					</label>
				<br> <span th:text="${message}" style="color: red"></span>
				
			<br>
			<button class="button-2">登録</button>
			
			<br><a href="/login">キャンセル</a>
			
		    </form>
			
		</main>

</body>
</html>