<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	
	<hr>
	
	<main>
			<form action="/login" method="post">
				<br> <span th:text="${message}" style="color: red"></span>
				<br><label>
					<span class="textbox-4-label"></span>
				    <input type="text" name="email" class="textbox-4" placeholder="メールアドレス"/>
					</label>	
					
				<br><label>
					<span class="textbox-5-label"></span>
				    <input type="text" name="password"  class="textbox-5" placeholder="パスワード">
				    </label>
				
				<br><button class="button-2">ログイン</button>
				
				
			</form>
			
			<p></p>
			<a href="/users/new">新規会員登録はこちら</a>
			
		</main>

</body>
</html>