<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ詳細</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	
	  <main>
		<form action="/recipes" class="search-form-3" method="get">
			<label>
			<input type="text" name="keyword" th:value="${keyword}" placeholder="キーワード検索">
			</label>
			<button type="submit" aria-label="検索"></button>
		</form>
				
		<form>
		    <a href="/recipes/add"><button type="button" class="button-61">レシピを投稿する</button></a>
		</form>
		
		<hr>
		
		<h2 th:text="${recipe.name}"></h2>
		<a th:text="${@account.name}+'さんのレシピ'"></a>
		
<!--		<h3>作り方</h3>-->
<!--		<div style="white-space: pre-wrap;" th:text="${recipe.recipe}"></div>-->
		<br><br>
		<div class="box-009">
		    <div>
		        作り方・手順
		    </div>
			<p style="white-space: pre-wrap;" th:text="${recipe.recipe}"></p>
		</div>
		
		<p>みんなのコメント</p>
		<form>
		<div class="balloon-004">
<!--		    <input type="text" name="message" th:value="${message}" placeholder="コメント">-->
		</div>
		<button>コメントする</button>
		</form>
		
	</main>
	<hr>
		<footer th:replace="~{footer}"></footer>

</body>
</html>