<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピの編集</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
			
	
		<span th:if="${@account.name != null}" th:text="${@account.name} + 'さんがログイン中'" style="margin-right: 15px; color: #333;"></span>
		  
		 <button class="logout">
		   <a th:if="${@account.name != null}" href="/logout" >ログアウト</a>
		   </button>
		   
		<hr>
		
		<main>
		<h2>レシピの編集</h2>

		<form th:action="@{/recipes/edit/{id}(id=${recipe.id})}" method="post">
			
			<label>
			    <span class="textbox-2-label">
			    	<input type="text" name="name" th:value="${recipe.name}" class="textbox-2" placeholder="レシピ名"/>
			    </span>
			</label>
			
	        <label class="selectbox-3">
	            <select name="categoryId" id="category">
	              <option value="">カテゴリー選択</option>
	              <option th:each="category : ${categories}"
				          th:value="${category.id}"
				          th:text="${category.name}"
				          th:selected="${recipe.category != null && category.id == recipe.category.id}">
			      </option>
	            </select>
	        </label>
			
			<label>
			    <span class="textbox-2-label">
			    	<textarea name="recipe" class="textbox-2"  placeholder="作り方・手順" th:text="${recipe.recipe}"></textarea>
			    </span>
			</label>
			<br><br>
			
			<button type="submit" class="button-61" >変更を保存する</button>
			<br><br>
			<a th:href="@{/recipes/detail/{id}(id=${recipe.id})}" >キャンセル</a>
				        
		</form>

	

</body>
</html>