
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>トップページ/レシピ一覧</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	
	<header th:replace="~{header}"></header>
	
	<main>
		<form action="/recipes" method="get">
			<input type="text" name="keyword" th:value="${keyword}" placeholder="キーワードを入力">
			<button type="submit">検索</button>
			<a href="/recipes/add"><button type="button">レシピを投稿する</button></a>
		</form>
		
		<br>
		<a href="/recipes">全てのレシピ</a>  
		<a th:each="category : ${categories}"
		   th:href="@{/recipes(categoryId=${category.id})}"
		   th:text="${category.name}"
		   style="margin-right: 10px;"></a>
		
		<br><br>
		<hr>
		
		<h2>レシピ一覧</h2>
		
		<p th:if="${#lists.isEmpty(recipes)}">レシピがまだありません。</p>
		
		<div th:each="recipe : ${recipes}" style="margin-bottom: 15px;">
			
			
			<a th:href="@{/recipes/detail/{id}(id=${recipe.id})}" 
			   th:text="${recipe.name}" 
			   style="font-size: 1.2em; font-weight: bold;">レシピ名</a>
			   
		</div>

	</main>
	<hr>
	<footer th:replace="~{footer}"></footer>
</body>
</html>
