<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>投稿</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	<hr>
	
	<main>
	<form action="/recipes/add" method="post">
		
		<input type="text" name="name" placeholder="レシピ名"><br>
		
		<select name="categoryId" id="category">
	    <option value="">カテゴリー選択</option>
		</select>
		
		<br><textarea name="recipe" placeholder="作り方"></textarea><br>
		
	    <button type="submit">レシピを投稿する</button><br>
	    <a href="/recipes">キャンセル</a>
			        

		
		
		 
		               

		
	</form>

    </main>
</body>
</html>