
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>トップページ/レシピ一覧</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	
	<header th:replace="~{header}"></header>
		
	
	<span th:if="${@account.name != null}" th:text="${@account.name} + 'さんがログイン中'" style="margin-right: 15px; color: #333;"></span>
	  
	 <button class="logout">
	   <a th:if="${@account.name != null}" href="/logout" >ログアウト</a>
	   </button>
<!--	<hr color="#ffba24">-->
	
	<br>
		
		
		<form action="/recipes" class="search-form-3" method="get">
		    <label>
		        <input type="text" name="keyword" th:value="${keyword}" placeholder="キーワード検索">
		    </label>
		    <button type="submit" aria-label="検索"></button>
		</form>
		
		
		<br>
		<h2 class="heading-2">レシピ一覧</h2>

                <a th:href="@{/recipes}" 
                 th:classappend="${param.categoryId == null} ? 'category-tab active' : 'category-tab'">すべて
                </a>  

                <a th:each="category : ${categories}"
                 th:href="@{/recipes(categoryId=${category.id})}"
                 th:text="${category.name}"
                 th:classappend="${param.categoryId != null && param.categoryId[0] == #strings.toString(category.id)} ? 'category-tab active' : 'category-tab'">
                </a>


		<br><br>
	
		
		
		
		<p th:if="${#lists.isEmpty(recipes)}">レシピがまだありません。</p>
		
		<div class="recipe-grid" th:if="${!#lists.isEmpty(recipes)}">
		<div th:each="recipe : ${recipes}" style="margin-bottom: 15px;">
			<button class="button-1">
			  <a th:href="@{/recipes/detail/{id}(id=${recipe.id})}" 
			     th:text="${recipe.name}" >レシピ名</a>
			</button>
		</div>
		</div>
		
		<br></br>
		<form>
		          <button type="button" class="button-61"><a href="/recipes/add">レシピを投稿する</a></button>
			</form>
			
		<br></br>

	</main>
	<hr>
	<footer th:replace="~{footer}"></footer>
</body>
</html>
