<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>投稿</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	
	
	<span th:if="${@account.name != null}" th:text="${@account.name} + 'さんがログイン中'" style="margin-right: 15px; color: #333;"></span>
	<button class="logout">	   
	<a th:if="${@account.name != null}" href="/logout" >ログアウト</a>
	</button>
	
		   <hr>
	
	<main>
	<form action="/recipes/add" th:object="${recipe}" method="post">
		
		<label>
		    <span class="textbox-2-label">
		    <input type="text" name="name" class="textbox-2" placeholder="レシピ名"/>
		    </span>
		</label>
	
		<label class="selectbox-3">
		    <select name="categoryId" id="category">
		        <option value="">カテゴリー選択</option>
		        <option th:each="category : ${categories}"
		                th:value="${category.id}"
		                th:text="${category.name}"
		                th:selected="${category.id == selectedCategoryId}"></option>
		    </select>
		</label>
		
		
		<label>
		    <span class="textbox-2-label">
		    <textarea name="recipe" class="textbox-2" placeholder="作り方・手順"></textarea>
		    </span>
		</label>
		
		<button type="submit" class="button-61">レシピを投稿する</button>
		
	    <a href="/recipes">キャンセル</a>
			        
	</form>
    </main>
	<hr>
		<footer th:replace="~{footer}"></footer>
</body>
</html>