<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ詳細</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="~{header}"></header>
	
	<brmain>
		<form action="/recipes" method="get">
					<input type="text" name="keyword" th:value="${keyword}" placeholder="キーワードを入力">
					<button type="submit">検索</button>
					<a href="/recipes/add"><button type="button">レシピを投稿する</button></a>
				</form>
		<hr>
		
		<h2 th:text="${recipe.name}"></h2>
		<h3>材料</h3>
		<h3>作り方</h3>

		
	</main>

</body>
</html>